/*Color*/
.bg-green-1 {
    background-color: rgb(0, 146, 0);
}

.bg-green-2 {
    background-color: rgb(2, 175, 2);
}

.bg-green-3 {
    background-color: rgb(77, 242, 77);
}



#nav-bar {
    background-color: rgba(0, 0, 0, 0.421) !important;
}

.active {
    color: white !important;
}

.masthead {
    background-image: url("../assets/img/header-bg.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message {
    background-color: rgba(255, 246, 246, 0.544) !important;
    border-radius: .5em;
    padding: 1em;
    text-align: center;
}

.message h2 {
    font-size: 10vh !important;
}

.message p {
    font-size: 5vh !important;
}

.nav-link:hover {
    color: white !important;
}

.custom-slider {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 2vh;
    width: 100%;
}

.slides {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.slide {
    min-width: 100%;
    padding: 2vh;
}

.bevel-border-br {
    color: white;
    border-bottom-right-radius: 50vh;
    display: inline-block;
    padding: 1vh;
    padding-right: 5vh;
}

.bevel-border {
    border-radius: 5vh;
}

.date-time-event p{
    display: inline-block;
    margin-right: 3vh;
    margin-bottom: 1vh;
}

/* Arrows */
.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #00000055;
    border: none;
    color: white;
    font-size: 2rem;
    padding: 0.3em 0.5em;
    cursor: pointer;
    z-index: 10;
    border-radius: 10px;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

/* Dots */
.dots {
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
}

.dots span {
    height: 12px;
    width: 12px;
    background: rgba(253, 253, 253, 0.568);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    display: inline-block;
}

.dots .active {
    background: #ffffff;
}

.fa-facebook:hover {
    color: rgb(0, 160, 253);
}

.fa-twitter:hover {
    color: rgb(81, 113, 255);
}


.fa-youtube:hover {
    color: rgb(216, 15, 15);
}

.fa-instagram:hover {
    color: rgb(225, 48, 108);
}

.fa-tiktok:hover {
    color: rgb(0, 0, 0);
}

.fa-map:hover {
    color: white;
}

@media (min-width: 1000px) {
}

@media (max-width: 992px) {
    .bevel-border-br {
        border-bottom-right-radius: 0px;
        display: block !important;
    }

    .custom-slider {
        border-radius: 0px;
    }
}


@media (max-width: 768px) {
   
}